html {
  font-family: "Helvetica Neue";
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Suggested Palette: http://paletton.com/palette.php?uid=13W0u0klsmcbaxpgBrdqchCvzc6 */
/*
  #0a0f43
  #1c2361
  #535996
  #7d83b4
*/

h1 {
  color: #1c2361;
}

h2 {
  margin-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 -6px;
}

.book {
  flex: 0 0 290px;
  padding: 12px;
  border: 1px solid #ccc;
  margin: 6px;
}

.book-title {
  font-size: 1.2em;
  color: #fff;
  background-color: #0a0f43;
  margin: -12px -12px 12px;
  padding: 12px;
}

.book-author {
  font-size: 1.1em;
  color: #fff;
  background-color: #1c2361;
  margin: -12px -12px 12px;
  padding: 12px;
}

.book-photo {
  display: block;
  margin: 12px auto;
  width: 80%;
  box-shadow: -7px -1px 10px 1px #7d83b4;
}
