{{outlet}}

<div class="flex">
  {{#each book in model}}
    <div class="book">
      <h2 class="book-title">{{#link-to 'book' book}}{{book.title}}{{/link-to}}</h2>
      <h3 class="book-author">{{book.author.name}}</h3>

      {{#each photo in book.photos}}
        <img src="{{ photo.uri }}" class="book-photo">
      {{/each}}
    </div>
  {{/each}}
</div>
