{{outlet}}

{{#each book in model}}
    <p>{{book.title}} - {{book.datePublished}}</p>
    <ul>
      {{#each chapter in book.chapters}}
         <li>{{chapter.title}}</li>
      {{/each}}
    </ul>
{{/each}}
